@import "tailwindcss";

/* Fonts */
@font-face {
    font-family: 'karma';
    src: url('/fonts/Karma/Karma-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "kaushan";
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype')
}


@theme{
    --color-myRed-200: oklch(43.62% 0.1305 29.23);
    --color-myRed-400: oklch(25.46% 0.1044 29.23);
    --color-myRed-600: oklch(19.16% 0.0786 29.23);
    --color-myRed-800: oklch(18.3% 0.0364 21.26);

    /* Addtional bg color */
    --color-redBg-0: oklch(7.84% 0.0197 29.23);
    --color-redBg-1: oklch(6.96% 0.0222 29.23);
    --color-redBg-2: oklch(14.02% 0.0469 29.23);

    --font-karma: 'karma', sans-serif;
    --font-kaushan: 'kaushan', serif;
}

/* ---------------------- Custom Class ---------------------- */

/* Navbar Part */
.navSm {
    @apply bg-myRed-400/90 w-1/2 text-white flex justify-around fixed rounded-full bottom-2 p-2 left-1/2 transform -translate-x-1/2 lg:left-auto lg:bottom-auto lg:w-auto lg:right-5 lg:top-1/2 lg:transform lg:-translate-y-1/2 lg:p-4;
  }

